* {
  padding: 0;
  margin: 0;
}

:root {
  --blue: #1e90ff;
  --mobile-family: 'Aclonica', sans-serif;
  --Inter-family: 'Inter', sans-serif;
  --gray-color: #848484;
  --primary-color: #28166f;
  --red-color: #a40404;
  --primary-blue: #1c1fd8;
  --primary-red: #e20202;
  --primary-green: #06923f;
  --primary-gray: #444444;
}

html {
  /* font-family: 'Oswald', sans-serif; */

  font-weight: 400;
  font-style: normal;
  overflow: hidden !important;
}

.ant-select-single,
.ant-picker {
  width: 100%;
}

@media screen and (max-width: 66rem) {
  .ant-modal {
    width: 100% !important;
  }
}

.ant-picker-header-view .ant-picker-year-btn,
.ant-picker-header-super-next-btn,
.ant-picker-header-super-prev-btn {
  display: none !important;
}

.memberCamera .ant-modal-content {
  background-color: unset;
  box-shadow: unset !important;
  padding: 0;
}

.success .ant-modal-content {
  display: flex !important;
  justify-content: center !important;
}

.success {
  top: 25%;
}
